/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #9370DB;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.main-heading {
    font-size: 36px;
    margin: 0;
}

main {
    padding: 20px;
}

.get-started {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #777;
}

button {
    background-color: #9370DB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}