.navigation-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar-container h3 {
    margin: 0;
    padding: 0;
}

.navigation-bar-div {
    color: black;
    background-color: #F8E7FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar-links-div {
    display: flex;
    align-items: center;
}

.link-style-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;


    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-right: 15px;
}

.single-line {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}

.navigation-bar-container {
    display: flex;
    width: 100%;
    background-color: #F8E7FF;
}

.navigation-links-container {
    display: flex;
    justify-content: right;
    width: 50%;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: darkorange;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    padding-left: 0.5cm;
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;
}