body {
    font-family: "Montserrat", sans-serif;
    color: #444444;
}

a {
    text-decoration: none;
    color: #49b5e7;
}

a:hover {
    color: #76c7ed;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ba49e7;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6dc4ec;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

#header {
    background: #F8E7FF;
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);

    transition: transform 1s ease; /* Add transition for smooth appearance/disappearance */
}

#header.header-hidden {
    transform: translateY(-100%);
  }

.navbar {
    padding: 0x;
}

.navbar ul {
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    white-space: nowrap;
    transition: 0.3s;
    text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #8531ce;
}

#big-big-img {
    src: url("/public/images/30.png");
}

#hero {
    width: 100%;
    height: 80vh;
    background: url("/public/images/25.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

#hero .container {
    padding-top: 84px;
}

#hero h1 {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
    text-transform: uppercase;
}

#hero h2 {
    color: #a9dcf4;
    margin: 10px 0 0 0;
    max-width: 40vh;
    font-size: 20px;
}

#hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    transition: 0.5s;
    margin-top: 25px;
    color: #ffffff;
    border-radius: 10px;
    background: rgba(193, 113, 255, 0.271);
    text-transform: uppercase;
}

#hero .btn-get-started:hover {
    color: rgb(0, 0, 0);
    background: #ecdafa;
}

@media (max-width: 991px) {
    #hero {
        height: 100vh;
        text-align: left;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }


}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f4fbfe;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #0f394c;
}

.section-title p {
    margin-bottom: 0;
}

.about .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #0f394c;
    margin-bottom: 15px;
}

.about .icon-box {
    margin-top: 40px;
}

.about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #edd0f9;
    border-radius: 50px;
    transition: 0.5s;
}

.about .icon-box .icon i {
    color: #9b49e7;
    font-size: 32px;
}

.about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
}

.about .icon-box .title a:hover {
    color: #9349e7;
}

.about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
}

.about .img-box {
    background: url("/public/images/1.png") center no-repeat;
    background-size: contain;
    min-height: 500px;
}

@media (min-width: 1200px) {
    .about .img-box {
        margin-left: 15px;
        margin-right: -15px;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
}

.services .icon-box:hover {
    transform: translateY(-5px);
}

.services .icon {
    border-radius: 20px;
    position: relative;
    margin-bottom: 10px;
    top: calc(50% - 30px);
}


.services .icon img {
    border-radius: 20px;
    height: 150px;
    width: 150px;
    transition: 0.5s;
}

.services .title {
    align-self: center;
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #111;
}

.services .icon-box:hover .title a {
    color: #bd49e7;
}

.services .description {
    font-size: 14px;
    margin-left: 10px;
    line-height: 24px;
    margin-bottom: 0;
}

.contact .info {
    width: 100%;
    background: #fff;
}

.contact .info i {
    font-size: 20px;
    color: #ba81f7;
    float: left;
    width: 44px;
    height: 44px;
    background: #ebf7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #370f4c;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #6320a1;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #9349e7;
    color: #fff;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#footer {
    background: #fff;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
    background: #ebf7fc;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #f0f9fd;
    text-align: center;
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #0f394c;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #9549e7;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #b21de0;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #0f394c;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #e5f0f9;
    color: #eba0ff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #9c1de089;
    color: #fff;
    text-decoration: none;
}