.signup-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
}

.link-div {
    display: flex;
    justify-content: center;
}