.login-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    width: 20%;
}

a {
    color: black;
}

.link-div {
    display: flex;
    justify-content: center;
}

.forgot-password {
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
    cursor: pointer
}