.food {
  margin: 0px 20px;
}
.food-feature {
  padding: 20px;
  width: 100%;
}
.food-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.food-title {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
  color: #8472a9;
}
.food-list {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.food-details {
  width: 200px;
  height: 260px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.food-details:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: #8472a9;
  color: white;
  transition: 400ms;
}
.food-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
.food-description {
  font-size: 18px;
  display: flex;
  margin-right: 10px;
  justify-content: flex-end;
}
.food-pfp {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.food-more {
  width: 200px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1.5px solid #8472a9;
  color: #8472a9;
}
.meal-plan {
  margin: 0 auto;
}
